name: 003-001 Deploy VPC
on:
  #  push:
  workflow_dispatch:
    inputs:
      project-name:
        description: "Custom Name"
        required: false
        default: "ci-vpc"
      project-id:
        description: "Custom Id"
        required: false
        default: "001"
      environment:
        description: "Target Environment and Region"
        required: false
        type: choice
        options:
          - dev / all
          - dev / us-east-2
          - dev / us-west-2
          - test / all
          - test / us-east-2
          - test / us-west-2
          - staging
          - prod
        default: dev / us-east-2
      environment-prefix:
        description: "Should resources be prefixed with environment?"
        required: true
        type: boolean
        default: false
      custom-state-path:
        description: "Are you using a custom S3 state path (project postfix)? Enter value in following field if true."
        required: true
        type: boolean
        default: false
      custom-postfix:
        description: "A unique random value applied to the end of resources. This will only be used if the custom state path is true. Only use this if you deeply understand what you are doing."
        required: false
      vpc-cidr-block:
        description: "VPC Cidr block"
        required: false
        default: "10.0.0.0/16"
      vpc-public-subnet-01:
        description: "Public subnet"
        required: false
        default: "10.0.1.0/24"
      vpc-public-subnet-02:
        description: "Public subnet"
        required: false
        default: "10.0.2.0/24"
      vpc-private-subnet-01:
        description: "Private subnet"
        required: false
        default: "10.0.3.0/24"
      vpc-private-subnet-02:
        description: "Private subnet"
        required: false
        default: "10.0.4.0/24"
      vpc-public-route-table:
        description: "Public route table cidr block"
        required: false
        default: "0.0.0.0/0"
      vpc-private-route-table:
        description: "Private route table cidr block"
        required: false
        default: "0.0.0.0/0"

permissions:
  actions: write
  id-token: write

env:
  WORKING_DIR: aws/tools/003-once-to-many-per-region/001-setup-vpc
  S3_TF_KEY: 003-once-to-many-per-region/001-setup-vpc
#  US_EAST_2_POSTFIX: ${{ secrets.DEV_XI7EGJWF_POSTFIX }}
#  US_WEST_2_POSTFIX: ${{ secrets.DEV_BIALYRAD_POSTFIX }}

jobs:

  validate-input:
    uses: ./.github/workflows/_reusable-validate-input.yml
    with:
      environment: ${{ inputs.environment }}

  verify-linting:
     uses: ./.github/workflows/_reusable-static-analysis-verify.yml
     with:
       artifact-name: "checkov-001-setup-vpc"
       workflow-file: "000-pre-job-static-analysis.yml"
     secrets: inherit

  terraform-deploy:
    if: ${{ needs.verify-linting.outputs.status == 'success' }}
    needs: [ validate-input, verify-linting ]
    runs-on: ubuntu-latest

    strategy:
      matrix:
        region: ${{ fromJson(needs.validate-input.outputs.regions) }}
      fail-fast: false

    defaults:
      run:
        working-directory: ${{ env.WORKING_DIR }}/${{ matrix.region }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Determine postfix
        id: postfix
        run: |
          if [[ "${{ inputs.custom-state-path }}" == "true" ]]; then
            POSTFIX="${{ inputs.custom-postfix }}"
          elif [[ "${{ matrix.region }}" == "us-east-2" ]]; then
            POSTFIX="${{ secrets.DEV_XI7EGJWF_POSTFIX }}"
          else
            POSTFIX="${{ secrets.DEV_BIALYRAD_POSTFIX }}"
          fi
          echo "value=$POSTFIX" >> "$GITHUB_OUTPUT"
          echo "Using postfix: $POSTFIX"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          aws-region: ${{ secrets.DEV_AWS_REGION }}
          role-to-assume: ${{ secrets.DEV_ROLE }}
          role-session-name: "${{ github.run_id }}-${{ github.run_attempt }}-${{ matrix.region }}"
          role-duration-seconds: ${{ secrets.DEV_ROLE_DURATION }}

      - name: Copy ci backend into terraform
        run: |
          rm -f terraform.tf
          cp ../backend/terraform.tf terraform.tf

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: 'latest'

      - name: help
        run: |
          echo "${{ github.workspace}}"
          echo "${{env.S3_TF_KEY}}"
          echo "${{contains(env.WORKING_DIR, env.S3_TF_KEY)}}"

      - name: Initialize Terraform
        if: contains(env.WORKING_DIR, env.S3_TF_KEY)
        run: |
          terraform init \
            -backend-config=bucket="tf-state-${{ steps.postfix.outputs.value }}" \
            -backend-config=key=${{ env.S3_TF_KEY }}/${{ matrix.region }}/${{ needs.validate-input.outputs.environment }}/terraform.tfstate \
            -backend-config=region=${{ matrix.region }} \
            -backend-config=encrypt=true \
            -backend-config=use_lockfile=true

      - name: Plan terraform Changes
        env:
          TF_VAR_aws_region: ${{ matrix.region }}
          TF_VAR_environment: ${{ needs.validate-input.outputs.environment }}
          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
        run: terraform plan

      - name: Apply terraform Changes
        env:
          TF_VAR_aws_region: ${{ matrix.region }}
          TF_VAR_environment: ${{ needs.validate-input.outputs.environment }}
          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
        run: terraform apply -auto-approve

#  terraform-deploy-us-east-2:
#    if: ${{ needs.verify-linting.outputs.status == 'success' && contains(needs.validate-input.outputs.aws_region, 'us-east-2') }}
#
#    needs: [validate-input, verify-linting]
#    runs-on: ubuntu-latest
#    env:
#      REGION: us-east-2
#      POSTFIX: ${{ inputs.custom-state-path == false && secrets.DEV_XI7EGJWF_POSTFIX || inputs.custom-postfix }}
#    defaults:
#      run:
#        # This is the location in the GitHub project
#        working-directory: ${{ env.WORKING_DIR }}/${{ env.REGION }}
#
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v6
#
#      - name: Configure AWS Credentials
#        uses: aws-actions/configure-aws-credentials@v5.1.1
#        with:
#          aws-region: ${{ secrets.DEV_AWS_REGION }}               # REQUIRED
#          role-to-assume: ${{ secrets.DEV_ROLE }}                 # REQUIRED
#          role-session-name: "${{ github.run_id }}-${{ github.run_attempt }}"                      # RECOMMENDED
#          role-duration-seconds: ${{ secrets.DEV_ROLE_DURATION }} # 15 mins - this is the minimum allowable duration  # RECOMMENDED
#
#      - name: Copy ci backend into terraform
#        run: |
#          rm -f terraform.tf
#          cp ../backend/terraform.tf terraform.tf
#
#      - name: Set up Terraform
#        uses: hashicorp/setup-terraform@v3.1.2
#        with:
#          terraform_version: 'latest'
#
#      - name: Initialize Terraform
#        if: contains(github.workspace, env.S3_TF_KEY)
#        run: |
#          terraform init \
#            -backend-config=bucket="tf-state-${{ env.POSTFIX }}" \
#            -backend-config=key=${{ env.S3_TF_KEY }}/${{ env.REGION }}/${{ needs.validate-input.outputs.environment }}/terraform.tfstate \
#            -backend-config=region=${{ env.REGION }} \
#            -backend-config=encrypt=true \
#            -backend-config=use_lockfile=true
#
#      - name: Plan terraform Changes
#        env:
#          TF_VAR_aws_region: ${{ env.REGION }}
#          TF_VAR_environment: ${{ needs.validate-input.outputs.environment }}
#          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
#          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
#        run: terraform plan
#
#      - name: Plan terraform Changes
#        env:
#          TF_VAR_aws_region: ${{ env.REGION }}
#          TF_VAR_environment: ${{ needs.validate-input.outputs.environment }}
#          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
#          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
#        run: terraform apply -auto-approve
#
#  terraform-deploy-us-west-2:
#    if: ${{ needs.verify-linting.outputs.status == 'success' && contains(needs.validate-input.outputs.aws_region, 'us-west-2') }}
#    needs: [validate-input, verify-linting]
#    runs-on: ubuntu-latest
#    env:
#      REGION: us-west-2
#      POSTFIX: ${{ inputs.custom-state-path == false && secrets.DEV_BIALYRAD_POSTFIX || inputs.custom-postfix }}
#    defaults:
#      run:
#        # This is the location in the GitHub project
#        working-directory: ${{ env.WORKING_DIR }}/${{ env.REGION }}
#
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v6
#
#      - name: Configure AWS Credentials
#        uses: aws-actions/configure-aws-credentials@v5.1.1
#        with:
#          aws-region: ${{ secrets.DEV_AWS_REGION }}               # REQUIRED
#          role-to-assume: ${{ secrets.DEV_ROLE }}                 # REQUIRED
#          role-session-name: "${{ github.run_id }}-${{ github.run_attempt }}"                      # RECOMMENDED
#          role-duration-seconds: ${{ secrets.DEV_ROLE_DURATION }} # 15 mins - this is the minimum allowable duration  # RECOMMENDED
#
#      - name: Copy ci backend into terraform
#        run: |
#          rm -f terraform.tf
#          cp ../backend/terraform.tf terraform.tf
#
#      - name: Set up Terraform
#        uses: hashicorp/setup-terraform@v3.1.2
#        with:
#          terraform_version: 'latest'
#
#      - name: Initialize Terraform
#        if: contains(github.workspace, env.S3_TF_KEY)
#        run: |
#          terraform init \
#            -backend-config=bucket="tf-state-${{ env.POSTFIX }}" \
#            -backend-config=key=${{ env.S3_TF_KEY }}/${{ env.REGION }}/${{ needs.validate-input.outputs.environment }}/terraform.tfstate \
#            -backend-config=region=${{ env.REGION }} \
#            -backend-config=encrypt=true \
#            -backend-config=use_lockfile=true
#
#      - name: Plan terraform Changes
#        env:
#          TF_VAR_aws_region: ${{ env.REGION }}
#          TF_VAR_environment: ${{ github.event.inputs.environment }}
#          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
#          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
#        run: terraform plan
#
#      - name: Plan terraform Changes
#        env:
#          TF_VAR_aws_region: ${{ env.REGION }}
#          TF_VAR_environment: ${{ github.event.inputs.environment }}
#          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
#          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
#        run: terraform apply -auto-approve


# https://dev.to/terrateam/building-a-cicd-pipeline-for-terraform-with-github-actions-step-by-step-guide-3dlp
# deals with how to save a plan and execute
# https://medium.com/@kiran007anil/automating-terraform-deployments-with-github-actions-3a3d8f78b49d
