name: 003-002-001 Destroy EKS Std IRSA
on:
  workflow_dispatch:
    inputs:
      project-name:
        description: "Custom Name"
        required: false
        default: "ci_eks_cluster"
      project-id:
        description: "Custom Id"
        required: false
        default: "001"
      environment:
        description: "Target Environment and Region"
        required: false
        type: choice
        options:
          - dev / all
          - dev / us-east-2
          - dev / us-west-2
          - test / all
          - test / us-east-2
          - test / us-west-2
          - staging
          - prod
        default: dev / us-east-2
      environment-prefix:
        description: "Should resources be prefixed with environment?"
        required: true
        type: boolean
        default: false
      environment-instance-type:
        description: "What instance type to use"
        required: true
        type: choice
        options:
          - t3.small
        default: t3.small
      cluster-auth-mode:
        description: "What auth mode to use"
        required: true
        type: choice
        options:
          - API_AND_CONFIG_MAP
        default: API_AND_CONFIG_MAP
      cluster-ng-desired-size:
        description: "How many instances are desired?"
        required: true
        default: 1
      cluster-ng-max-size:
        description: "What is the maximum number of instances"
        required: true
        default: 2
      cluster-ng-min-size:
        description: "What is the minimum number of instances"
        required: true
        default: 1
      cluster-ng-max-unavailable:
        description: "What is the maximum number unavailable"
        required: true
        default: 1
      cluster-ng-remote-access-key:
        description: "Which ssh key to use"
        required: true
        default: brr-test

permissions:
  actions: write
  id-token: write

env:
  WORKING_DIR: aws/tools/003-once-to-many-per-region/002-setup-eks/001-eks-std-irsa
  S3_TF_KEY: 003-once-to-many-per-region/002-setup-eks/001-eks-std-irsa

jobs:

  validate-input:
    runs-on: ubuntu-latest
    outputs:
      project_postfix: ${{ steps.postfix.outputs.value }}
      aws_region: ${{ steps.region.outputs.value }}
      environment: ${{ steps.environment.outputs.value }}

    steps:
      - name: Resolve project postfix
        id: postfix
        run: |
          input_env="${{ inputs.environment }}"

          if [[ "$input_env" == *all* ]]; then
               echo "value=xi7egjwf vfqysx7t" >> "$GITHUB_OUTPUT"
          else
            case "$input_env" in
              *us-east-2) v=xi7egjwf ;;
              *us-west-2) v=vfqysx7t ;;
              *) echo "❌ Non-existent postfix: $input_env"; exit 1 ;;
            esac
            echo "value=$v" >> "$GITHUB_OUTPUT"
          fi

      - name: Verify postfix
        id: postfix-verify
        run: |
          echo "${{ steps.postfix.outputs.value }}"

      - name: Resolve region
        id: region
        run: |
          input_env="${{ inputs.environment }}"

          if [[ "$input_env" == *all* ]]; then
            echo "value=all" >> "$GITHUB_OUTPUT"
          else
            case "$input_env" in
              *us-east-2) v=us-east-2 ;;
              *us-west-2) v=us-west-2 ;;
              *) echo "❌ Unsupported region: $input_env"; exit 1 ;;
            esac
            echo "value=$v" >> "$GITHUB_OUTPUT"
          fi

      - name: Verify region
        id: region-verify
        run: |
          echo "${{ steps.region.outputs.value }}"

      - name: Resolve environment
        id: environment
        run: |
          input_env="${{ inputs.environment }}"
          echo "DEBUG raw input: [$input_env]"
          echo "DEBUG hex dump:"
          echo -n "$input_env" | xxd
          input_env=$(echo "$input_env" | sed 's/ *\/ */\//')
          echo "DEBUG after sed: [$input_env]"

          case "$input_env" in
             dev/*)  v=dev ;;
             test/*) v=test ;;
             *) echo "❌ Unsupported environment: $input_env"
             exit 1 ;;
          esac

          echo "value=$v" >> "$GITHUB_OUTPUT"

      - name: Verify environment
        id: environment-verify
        run: |
          echo "${{ steps.environment.outputs.value }}"

  terraform-destroy:
    runs-on: ubuntu-latest
    env:
      REGION: us-east-2
      POSTFIX: ${{ inputs.custom-state-path == false && secrets.DEV_XI7EGJWF_POSTFIX || inputs.custom-postfix }}
    defaults:
      run:
        # This is the location in the GitHub project
        working-directory: ${{ env.WORKING_DIR }}/${{ env.REGION }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          aws-region: ${{ secrets.DEV_AWS_REGION }}               # REQUIRED
          role-to-assume: ${{ secrets.DEV_ROLE }}                 # REQUIRED
          role-session-name: "${{ github.run_id }}-${{ github.run_attempt }}"                      # RECOMMENDED
          role-duration-seconds: ${{ secrets.DEV_ROLE_DURATION }} # 15 mins - this is the minimum allowable duration  # RECOMMENDED

      - name: Copy ci backend into terraform
        run: |
          rm -f terraform.tf
          cp ../backend/terraform.tf terraform.tf

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: 'latest'

      - name: Initialize Terraform
        if: contains(env.WORKING_DIR, env.S3_TF_KEY)
        run: |
          terraform init \
            -backend-config=bucket="tf-state-${{ env.POSTFIX }}" \
            -backend-config=key=${{ env.S3_TF_KEY }}/${{ env.REGION }}/${{ needs.validate-input.outputs.environment }}/terraform.tfstate \
            -backend-config=region=${{ env.REGION }} \
            -backend-config=encrypt=true \
            -backend-config=use_lockfile=true

      - name: Plan destroy terraform Changes
        env:
          #          TF_VAR_org_name_abv: ${{}}
          #          TF_VAR_org_name_full: ${{}}
          #          TF_VAR_team_name: ${{}}
          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
          TF_VAR_project_postfix: ${{ env.POSTFIX }}
          TF_VAR_environment: ${{ github.event.inputs.environment }}
          TF_VAR_environment_prefix: ${{ github.event.inputs.environment-prefix }}
          TF_VAR_environment_instance_type: ${{ github.event.inputs.environment-instance-type }}
          TF_VAR_cluster_auth_mode: ${{ github.event.inputs.cluster-auth-mode }}
          TF_VAR_cluster_ng_desired_size: ${{ github.event.inputs.cluster-ng-desired-size }}
          TF_VAR_cluster_ng_max_size: ${{ github.event.inputs.cluster-ng-max-size }}
          TF_VAR_cluster_ng_min_size: ${{ github.event.inputs.cluster-ng-min-size }}
          TF_VAR_cluster_ng_max_unavailable: ${{ github.event.inputs.cluster-ng-max-unavailable }}
          TF_VAR_cluster_ng_remote_access_key: ${{ github.event.inputs.cluster-ng-remote-access-key }}
        run: terraform plan -destroy

      - name: Apply destroy terraform Changes
        env:
          #          TF_VAR_org_name_abv: ${{}}
          #          TF_VAR_org_name_full: ${{}}
          #          TF_VAR_team_name: ${{}}
          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
          TF_VAR_project_postfix: ${{ env.POSTFIX }}
          TF_VAR_environment: ${{ github.event.inputs.environment }}
          TF_VAR_environment_prefix: ${{ github.event.inputs.environment-prefix }}
          TF_VAR_environment_instance_type: ${{ github.event.inputs.environment-instance-type }}
          TF_VAR_cluster_auth_mode: ${{ github.event.inputs.cluster-auth-mode }}
          TF_VAR_cluster_ng_desired_size: ${{ github.event.inputs.cluster-ng-desired-size }}
          TF_VAR_cluster_ng_max_size: ${{ github.event.inputs.cluster-ng-max-size }}
          TF_VAR_cluster_ng_min_size: ${{ github.event.inputs.cluster-ng-min-size }}
          TF_VAR_cluster_ng_max_unavailable: ${{ github.event.inputs.cluster-ng-max-unavailable }}
          TF_VAR_cluster_ng_remote_access_key: ${{ github.event.inputs.cluster-ng-remote-access-key }}
        run: terraform destroy -auto-approve