name: 003-003-002 Deploy Argo
on:
  #  push:
  workflow_dispatch:
    inputs:
      project-name:
        description: "Custom Name"
        required: false
        default: "ci-kube-argo"
      project-id:
        description: "Custom Id"
        required: false
        default: "001"
      environment:
        description: "Target Environment and Region"
        required: false
        type: choice
        options:
          - dev / all
          - dev / us-east-2
          - dev / us-west-2
          - test / all
          - test / us-east-2
          - test / us-west-2
          - staging
          - prod
        default: dev / us-east-2
      environment-prefix:
        description: "Should resources be prefixed with environment?"
        required: true
        type: boolean
        default: false
      custom-state-path:
        description: "Are you using a custom S3 state path (project postfix)? Enter value in following field if true."
        required: true
        type: boolean
        default: false
      custom-postfix:
        description: "A unique random value applied to the end of resources. This will only be used if the custom state path is true. Only use this if you deeply understand what you are doing."
        required: false
      kubernetes_namespace:
        description: "Namespace that will be created and deployed to"
        required: false
        default: argocd
      kubernetes_deploy_type:
        description: "How do you want to deploy ArgoCD?"
        required: false
        type: choice
        options:
          - kubernetes
          - helm
        default: helm


permissions:
  actions: write
  id-token: write

env:
  WORKING_DIR: aws/tools/003-once-to-many-per-region/003-setup-kubernetes/002-argo
  S3_TF_KEY: 003-once-to-many-per-region/003-setup-kubernetes/002-argo

jobs:

  validate-input:
    runs-on: ubuntu-latest
    outputs:
      project_postfix: ${{ steps.postfix.outputs.value }}
      aws_region: ${{ steps.region.outputs.value }}
      environment: ${{ steps.environment.outputs.value }}

    steps:
      - name: Resolve project postfix
        id: postfix
        run: |
          input_env="${{ inputs.environment }}"

          if [[ "$input_env" == *all* ]]; then
               echo "value=xi7egjwf vfqysx7t" >> "$GITHUB_OUTPUT"
          else
            case "$input_env" in
              *us-east-2) v=xi7egjwf ;;
              *us-west-2) v=vfqysx7t ;;
              *) echo "❌ Non-existent postfix: $input_env"; exit 1 ;;
            esac
            echo "value=$v" >> "$GITHUB_OUTPUT"
          fi

      - name: Resolve region
        id: region
        run: |
          input_env="${{ inputs.environment }}"

          if [[ "$input_env" == *all* ]]; then
            echo "value=all" >> "$GITHUB_OUTPUT"
          else
            case "$input_env" in
              *us-east-2) v=us-east-2 ;;
              *us-west-2) v=us-west-2 ;;
              *) echo "❌ Unsupported region: $input_env"; exit 1 ;;
            esac
            echo "value=$v" >> "$GITHUB_OUTPUT"
          fi

      - name: Resolve environment
        id: environment
        run: |
          input_env="${{ inputs.environment }}"
          echo "DEBUG raw input: [$input_env]"
          echo "DEBUG hex dump:"
          echo -n "$input_env" | xxd
          input_env=$(echo "$input_env" | sed 's/ *\/ */\//')
          echo "DEBUG after sed: [$input_env]"

          case "$input_env" in
             dev/*)  v=dev ;;
             test/*) v=test ;;
             *) echo "❌ Unsupported environment: $input_env"
             exit 1 ;;
          esac

          echo "value=$v" >> "$GITHUB_OUTPUT"

  terraform-deploy-us-east-2:
    if: ${{ ( needs.validate-input.outputs.aws_region == 'us-east-2' || needs.validate-input.outputs.aws_region == 'all') }}

    needs: [ validate-input ]
    runs-on: ubuntu-latest
    env:
      REGION: us-east-2
      POSTFIX: ${{ inputs.custom-state-path == false && secrets.DEV_XI7EGJWF_POSTFIX || inputs.custom-postfix }}
    defaults:
      run:
        # This is the location in the GitHub project
        working-directory: ${{ env.WORKING_DIR }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          aws-region: ${{ secrets.DEV_AWS_REGION }}               # REQUIRED
          role-to-assume: ${{ secrets.DEV_ROLE }}                 # REQUIRED
          role-session-name: "${{ github.run_id }}-${{ github.run_attempt }}"                      # RECOMMENDED
          role-duration-seconds: ${{ secrets.DEV_ROLE_DURATION }} # 15 mins - this is the minimum allowable duration  # RECOMMENDED

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: 'latest'

      - name: Initialize Terraform
        if: contains(github.workspace, env.S3_TF_KEY)
        run: |
          terraform init \
            -backend-config=bucket="tf-state-${{ env.POSTFIX }}" \
            -backend-config=key=${{ env.S3_TF_KEY }}/${{ env.REGION }}/${{ needs.validate-input.outputs.environment }}/terraform.tfstate \
            -backend-config=region=${{ env.REGION }} \
            -backend-config=encrypt=true \
            -backend-config=use_lockfile=true

      - name: Plan terraform Changes
        env:
          TF_VAR_environment: ${{ github.event.inputs.environment }}
          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
        run: terraform plan

      - name: Plan terraform Changes
        env:
          TF_VAR_environment: ${{ github.event.inputs.environment }}
          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
        run: terraform apply -auto-approve

      - name: Show Output
        run: terraform output -json

