name: Terraform Deploy EKS ( TOOLS Account )
on:
  #  push:
  workflow_dispatch:
    inputs:
      project-name:
        description: "Custom Name"
        required: false
        default: "ci_vpc"
      project-id:
        description: "Custom Id"
        required: false
        default: "001"
      environment:
        description: "Target Environment"
        required: false
        type: choice
        options:
          - dev
          - test
          - staging
          - prod
      environment-prefix:
        description: "Should resources be prefixed with environment?"
        required: true
        type: boolean
        default: true

permissions:
  actions: write
  id-token: write

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5.0.0
        with:
          aws-region: ${{ secrets.DEV_AWS_REGION }}               # REQUIRED
          role-to-assume: ${{ secrets.DEV_ROLE }}                 # REQUIRED
          role-session-name: "${{ github.run_id }}-${{ github.run_attempt }}"                      # RECOMMENDED
          role-duration-seconds: ${{ secrets.DEV_ROLE_DURATION }} # 15 mins - this is the minimum allowable duration  # RECOMMENDED

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: 'latest'

      - name: Initialize Terraform
        working-directory: aws/tools/ci-eks-cluster
        run: terraform init

      - name: Plan terraform Changes
        working-directory: aws/tools/ci-eks-cluster
        env:
#          TF_VAR_org_name_abv: ${{}}
#          TF_VAR_org_name_full: ${{}}
#          TF_VAR_team_name: ${{}}
          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
          TF_VAR_environment: ${{ github.event.inputs.environment }}
          TF_VAR_environment_prefix: ${{}}
          TF_VAR_environment_instance_type: ${{}}
          TF_VAR_cluster_auth_mode: ${{}}
          TF_VAR_cluster_ng_desired_size: ${{}}
          TF_VAR_cluster_ng_max_size: ${{}}
          TF_VAR_cluster_ng_min_size: ${{}}
          TF_VAR_cluster_ng_max_unavailable: ${{}}
          TF_VAR_cluster_ng_remote_access_key: ${{}}
          TF_VAR_project_postfix: ${{}}
        run: terraform plan

      - name: Apply terraform Changes
        working-directory: aws/tools/ci-eks-cluster
        env:
#          TF_VAR_org_name_abv: ${{}}
#          TF_VAR_org_name_full: ${{}}
#          TF_VAR_team_name: ${{}}
          TF_VAR_environment: ${{ github.event.inputs.environment }}
          TF_VAR_project_name: ${{ github.event.inputs.project-name }}
          TF_VAR_project_id: ${{ github.event.inputs.project-id }}
        run: terraform apply -auto-approve